*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: inherit;
  font-family: 'Roboto';
  color: #fff;
}

body{
  background-color: darkgrey;
}
 
header{
  border: solid greenyellow;
}

nav{
  display: inline;
  border: 3px solid #4DA6FF;
}

.nav-options{
  display: inline;
  border: solid greenyellow;
  justify-self: flex-end;
 
}

.search-bar{
  display: inline;
  border: blue;
}

h1{
  border: solid chartreuse;
}




.youtube-logo{
  float: left;
  max-width: 150px;
  border: solid chartreuse;
}


#youtube{
  float: left;
  max-width: 150px;
  border: solid chartreuse;
}

.video{
  display: inline-block;
  border: solid darkolivegreen;
    
}

.description{
  padding-top: 5px;
  border: solid orangered;
}

.side{
  display: flex;
  flex-direction: column;
  border: solid chartreuse;
}

.channel-info{
  padding-top: 50px;
  border: solid rgb(71, 103, 192);
}

.comments{
  padding-top: 50px;
  border: solid rgb(122, 14, 64);
}

@media screen and (max-width: 900px) {
  .youtube{
    align-content: flex-start;
    max-width: 130px;
  }
}


@media screen and (max-width: 800px) {
  .youtube{
    max-width: 100px;
  }
}


@media screen and (max-width: 500px) {
  .youtube{
  max-width: 80px;
}
}


.clearfix:after {
  clear: both;
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  visibility: hidden;
  }
  .clearfix { display: inline-block; }
  * html .clearfix { height: 1%; }
  .clearfix { display: block; }
  